.song-container{
    display: flex;
    margin: 20px;
}
.profile-navlink{
    font-size: 18px;
    margin: 15px 10px 0px 10px;
    padding: 5px;
}
.profile-navlink:hover{
    border-bottom: 1px solid black;
}


.play-button-container{
    display: flex;
    margin-left: 15px;
}

.song-title-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}
.play-button{
    color: lightblue;
}
.play-button:hover{
    cursor: pointer;
    color: rgb(148, 204, 223);
}


.single-page{
    width: 90vw;
    background-color: white;
    height: 100%;
}

