.homepage{
    height: 95%;
    width: 90%;
    background: white;
    margin: auto;
}
.home-header {
    background: white;
    /* width:90%; */
    margin: auto;
    border-bottom: 1px solid lightgray;
    padding: 15px;
}
.home-header h1,
.home-header p{
    margin: 15px 0px 15px 20px;
}
.song-grid{
    margin: auto;
    display: grid;
	grid-template-columns: repeat(4,25%);
	grid-template-rows: auto;
    row-gap: 20px;
    justify-items: center;
    background: inherit;
    /* width: 90%; */
}
.home-song-img{
    margin-bottom:0px;
}
.home-song-container{
    margin: 20px;
    
}
.home-song-container p{
    margin: 0px;
}
.home-song-user{
    font-size: 12px;
    color: gray;
}