.full-upload-container{
    box-shadow: 0px 0px 5px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 550px; */
    width: 750px;
    margin: auto;
    background: white;
}
.upload-header{
    margin-top: 15px;
    width: 720px;
    border-bottom: 1px solid lightgray;
}
.upload-form-container{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}
.upload-form-image{
    width: 200px;
    max-height: 200px;
    position: relative;
    background: linear-gradient(to right, pink, teal);
    background-size: cover;
    margin: 15px;
}
.upload-form-image img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.upload-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

.upload-form input,
.upload-form select,
.upload-form textarea{
    display: block;
}

.upload-form label{
    font-size: 12px;
}

.title-input{
    width: 100%;
    height: 25px;
    border-radius: 3px;
}
.upload-form textarea {
    border-radius: 3px;
    width: 100%;
    resize: vertical;
    height: 100px;
    max-height: 300px;

}
.file-input-container{
    position: relative;
}
.song-input{
    margin-top: 11px;

}
.file-upload{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.save-btn{
    margin: 15px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    align-self: flex-end;
    background: #185adb;
    color: white;
    transition: .5s;
}
.save-btn:hover,
.upload-song-btn:hover{
    background: #1242a1;
}

.upload-form-footer{
    align-self: flex-end;
}

.upload-img-btn{
    display: block;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid gray;
    background: rgb(231, 231, 231);
    width: 200px;
}

.upload-song-btn{
    display:block;
    border-radius: 3px;
    width: 100%;
    background: #185adb;
    color: white;
    padding: 15px;
    text-align: center;
    transition: .5s;
}
.upload-img-btn:hover{
    background: rgb(241, 241, 241);
    cursor: pointer;
}
.upload-song-btn:hover{
    cursor: pointer;
}

.img-btn{
    top: 200px; 
}

.audio-file-name{
    font-size: 12px;
    text-align: right;
    margin: 10px 0px 0px 0px;
}