.full-upload-container{
    box-shadow: 0px 0px 5px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 750px;
    margin: auto;
    background: white;
}
.upload-header{
    margin-top: 15px;
    width: 720px;
    border-bottom: 1px solid lightgray;
}
.upload-form-container{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    width: 750px;
    height: 500px;
}
.upload-form-image{
    width: 200px;
    max-height: 200px;
    background: linear-gradient(to right, pink, teal);
    margin: 15px;
}

.upload-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

.upload-form input,
.upload-form select,
.upload-form textarea{
    display: block;
}

.upload-form label{
    font-size: 12px;
}

.title-input{
    width: 100%;
    height: 25px;
    border-radius: 3px;
}
.upload-form textarea {
    border-radius: 3px;
    width: 100%;
    resize: vertical;
    height: 100px;
    max-height: 300px;

}
.file-input-container{
    position: relative;
}
.song-input{
    margin-top: 11px;

}
.file-upload{
    opacity: 0;
    z-index: 2;
}

.save-btn{
    margin-top: 15px;
    height: 40px;
    width: 100px;
    border-radius: 3px;
    align-self: flex-end;
    background: #185adb;
    color: white;
    transition: .5s;
}
.save-btn:hover{
    background: #1242a1;
}

.upload-btn{
    position: absolute;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid gray;
    background: rgb(231, 231, 231);
    width: 200px;
}
.upload-btn:hover{
    background: rgb(235, 235, 235);
}

.img-btn{
    top: 200px; 
}