.login-signup {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    box-shadow: 0px 0px 10px gray;
}

.signup-link{
    color: #5656fd;
}
.signup-link:hover {
    color: #2d2d8b;
    cursor: pointer;
}