.navbar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* remove padding and change back to space-around once you add search bar */
    justify-content: space-between;
    padding: 0px 72px;
    background: rgb(56, 56, 56);
    color: rgb(207, 207, 207);
}
.nav-item-container{
    display: flex;
    /* align-items: center; */
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.nav-item-container li {
    height: 100%;
    align-self: center;
}
.nav-item{
    display: flex;
    cursor: pointer;
    height: 50px;
    padding: 0px 10px;
    transition: .3s;
}
.nav-item:hover{ 
   background: rgb(97, 97, 97);
}

.navbar a,
.navbar i{
    align-self: center;
}

.nav-item:hover,
.nav-link:hover {
   color: white;
}
.nav-user{
    display: flex;
    position: relative;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.profile-dropdown{
    position: absolute;
    background: white;
    /* bottom: -39px; */
    /* bottom: 0px; */
    top: 50px;
    right: 0px;
    border: 1px solid black;
    z-index: 2;
}
.profile-dropdown li {
    color: black;
    box-shadow: 0px 2px 5px gray;
}
.profile-dropdown li:hover,
.profile-dropdown button:hover{
    background: rgb(228, 228, 228);
}
.profile-dropdown button {
    font-size: 1rem;
    background: white;
    padding: 5px;
}
.profile-dropdown a {
    display: block;
    padding: 5px;
    width: 100%;
}

.profile-btn{
    border-bottom: 1px solid gray;
}

.nav-search{
    /* visibility: hidden; */
    height: 40px;
    width: 300px;
    border-radius: 3px;
}
.nav-item-container div + div{
    border-left: 1px solid black;
}